@import "../../common/sass/constants";

.christmas-tree-main {
  display: flex;
  justify-content: center;
  padding: 5px 20px; 
}

.christmas-tree-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  gap: 10px;

  @media screen and (max-width: 1500px) {
    flex-direction: column;
    width: 100%;
  }
}

.left-side {
  width: 25%;
  @media screen and (max-width: 1500px) {
    width: 100%;
  }
}

.right-side {
  width: 25%;
  @media screen and (max-width: 1500px) {
    width: 100%;
  }
}

.main-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1500px) {
    width: 100%;
  }
}
