.footer-container {
  display: flex;  
  align-items: center;
  justify-content: space-around;

  height: 10vh;
  margin: 0 auto;
  padding: .5rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}