@import "../../../common/sass/constants";

.main {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: auto;
  padding: 5px 20px;
}

.main-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1200) {
    width: 1000px;
  }
  @media screen and (max-width: $mq2) {
    width: 80%;
  }
  @media screen and (max-width: $mq3) {
    width: 100%;
  }
}
