@import "../../../common/sass/placeholder";
@import "../../../common/sass/constants";

.toy-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.toy-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.toy-case {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 0;
  outline: 0;  
  border-radius: 20px;
  background-color: rgba(34, 84, 177, 0.3);
  backdrop-filter: blur(6px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    color: $color-primary;
    background-color: rgba(31, 83, 179, 0.486);
  }

  & p {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(34, 84, 177, 1);
    background-color: rgba(34, 84, 177, 0.5);
    backdrop-filter: blur(6px);
  }
}

.toy-card-image {
  display: block;
  position: absolute;
  width: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
  cursor: move;
  z-index: 10;
}


