@import "../../../common/sass/constants";

.toy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
  justify-content: center;
  align-content: center;
}

.sorry-text {
  text-align: center;
}
