.greeting-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-background {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  margin: 10px;
  width: 600px;
  height: 600px;
  border: 0;
  outline: 0;  
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected-tree {
  display: block;
  width: 406px;
  height: 580px;
}
