$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1440px;
$mq1: $max-width-container;
$mq2: 1024px;
$mq3: 768px;
$mq4: 420px;

$color-primary: #E06853;
$color-additional: #2f5bad;
$color-disabled: #4f5258;
$color-light: #bcc5cf; 
$color-dark: #041432;

$font1: 3rem;
$font2: 2rem;
$font3: 1.5rem;
$font4: 1.2rem;
$font5: 1rem;