@import "../../../abstract/sass/placeholder";
@import "../../../abstract/sass/constants";

.count-select {
  width: 48px;
  height: 60px;
  background-image: url("../../../assets/svg/ball-2.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  @extend %transition;

  & span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: $color-dark;
  }
}
